@import "tailwindcss";

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900 antialiased;
  }
}
@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;

  /* BACKGROUNDS */
  --color-ui-bg: #16161a;
  --color-ui-card: #242629;

  /* BRAND & NAV */
  --color-brand-primary: #010101;
  --color-brand-secondary: #72757e;

  /* ACTIONS */
  --color-action-main: #7f5af0;
  --color-action-hover: #6b46e0;
  --color-action-success: #2cb67d;
  --color-action-highlight: #fffffe;

  /* TEXT */
  --color-text-header: #fffffe;
  --color-text-body: #94a1b2;
  --color-text-muted: #72757e;
}